*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Newsreader', serif;
    font-size: 18px;
}

a:link, a:visited, a:hover{
    text-decoration: none;
    color: rgb(38, 171, 229);
    font-size: inherit;
}

.marginup{
    margin-top: 20px;
}

.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-size: 200px;
    height: 50px;
    position: relative;
}

#logo-img{
    height: 30px;
    position: absolute;
    bottom: 2px;
}

h1{
    font-size: 34px;
}

.small-text{
    font-size: 14px;
}

.medium-text{
    font-size: 24px;
}

.medium-text, .small-text{
    color: rgb(128, 128, 128);
}

.content-img{
    height: 350px;
}

.evidence{
    font-weight: normal;
    background-color: yellow;
}

ul{
    padding-left: 40px;
}

table{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-spacing: 0;
}

.largercolumn{
    width: 50%;
}

thead{
    background-color: rgb(32, 169, 229);
    color: white;
    text-align: left;
}

.bluerow{
    background-color: rgb(177, 229, 242);
}

.crossarticle{
    width: 200px;
    height: 150px;
    background-size: contain;
    margin-top: 10px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bolder;
}

#firstcross{
    background-image: url(../img/graph.jpg);
}

#secondcross{
    background-image: url(../img/monitor.jpg);
}