*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited, a:hover{
    text-decoration: none;
    color: rgb(38, 171, 229);
}

.container{
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
}

header{
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-size: contain;
    height: 100px;
    position: relative;
}

#logo-img{
    height: 60px;
    position: absolute;
    bottom: 10px;
}

.medium-text, .small-text{
    color: rgb(128, 128, 128);
}

.content-img{
    height: 320px;
}